.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.pio/build/nanoatmega328/idedata.json
.pio/build/nanoatmega328/idedata.json
.pio/build/nanoatmega328/.sconsign311.dblite
.pio/build/nanoatmega328/libFrameworkArduino.a
.pio/build/nanoatmega328/libFrameworkArduinoVariant.a
.pio/build/nanoatmega328/FrameworkArduino/abi.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/CDC.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/HardwareSerial0.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/HardwareSerial1.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/HardwareSerial2.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/HardwareSerial3.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/hooks.c.o
.pio/build/nanoatmega328/FrameworkArduino/IPAddress.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/main.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/new.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/PluggableUSB.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/Print.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/Stream.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/Tone.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/USBCore.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/WInterrupts.c.o
.pio/build/nanoatmega328/FrameworkArduino/wiring_analog.c.o
.pio/build/nanoatmega328/FrameworkArduino/wiring_digital.c.o
.pio/build/nanoatmega328/FrameworkArduino/wiring_pulse.c.o
.pio/build/nanoatmega328/FrameworkArduino/wiring_pulse.S.o
.pio/build/nanoatmega328/FrameworkArduino/wiring_shift.c.o
.pio/build/nanoatmega328/FrameworkArduino/wiring.c.o
.pio/build/nanoatmega328/FrameworkArduino/WMath.cpp.o
.pio/build/nanoatmega328/FrameworkArduino/WString.cpp.o
.pio/build/nanoatmega328/src/main.cpp.o
.pio/build/project.checksum
